.App {
  text-align: center;
  min-height: 100vh;
  min-height: 100vh;
  background-color: rgb(38, 143, 91);
}

@media only screen and (min-width: 900px) {
  .contenedor-p {
    display: grid;
    grid-template-columns: 15% 25% 20% 25% 15%;
    grid-template-rows: 5% 55% 32% 8%;
    justify-content: center;
  }

  .icon {
    width: 50%;
    justify-self: center;
  }

  .barra-izquierda{
    grid-column: 2/3;
    margin-top: 5px;
  }

  .barra-derecha {
    grid-column: 4/5;
    margin-top: 5px;
  }

  .centro {
    grid-column: 3/4;
  }

  .tabla {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
  }

  .sumar-puntaje {
    grid-column: 4/5;
    width: 70%;
    justify-self: center;
  }

  .dados-apartados {
    grid-column: 4/5;
  }

  .tirar-dados {
    grid-column: 3/4;
  }

  .dialogo {
    grid-column: 2/5;
  }

  .dados-en-mano {
    grid-column: 2/3;
  }

  .partida-finalizada {
    grid-column: 2/5;
  }

  .inicio {
    grid-column: 2/5;
  }

  .cubilete {
    width: 70px;
  }

  [class^="cara-"] {
    background-color: rgb(246, 241, 241);
    display: flex;
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 899px) {
  .contenedor-p {
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 30%;
    grid-template-rows: 5% 57% 25% 13%;
    justify-content: center;
  }

  .icon {
    display: none;
  }

  .barra-izquierda{
    grid-column: 1/2;
    margin-top: 5px;
    display: flex;
    justify-self: center;
  }

  .barra-derecha {
    grid-column: 6/7;
    margin-top: 5px;
    display: flex;
  }

  .centro {
    grid-column: 2/6;
  }

  .tabla {
    grid-column: 1/4;
    width: 70%;
    margin-left: 5px;
  }

  .sumar-puntaje {
    grid-column: 4/7;
    width: 50%;
    justify-self: right;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
  }

  .dados-apartados {
    grid-column: 5/7;
  }

  .tirar-dados {
    grid-column: 3/5;
  }

  .dialogo {
    grid-column: 1/7;
  }
 
  .dados-en-mano {
    grid-column: 1/3;
  }
 
  .partida-finalizada {
    grid-column: 1/7;
  }

  .inicio {
    grid-column: 1/7;
  }

  [class^="cara-"] {
    background-color: rgb(246, 241, 241);
    display: flex;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
  }

  .texto-centro {
    font-size: calc(0.7em + 0.5vw);
    line-height: 1em;
    padding: 0.1em;
    margin: 0.5em;
    color: rgb(255, 255, 255);
  }
  
  .texto {
    font-size: calc(0.9em + 0.9vw);
    line-height: 1em;
    padding: 0.1em;
    margin: 0.5em;
    color: rgb(255, 255, 255);
  }
  
  .texto-estadisticas {
    font-size: calc(0.6em + 0.6vw);
    line-height: 1.4em;
    padding: 0.1em;
    margin: 0.5em;
    color: rgb(255, 255, 255);
  }

  .cubilete {
    width: 50px;
  }
}

.texto-centro {
  color: rgb(255, 255, 255);
}

.texto {
  color: rgb(255, 255, 255);
}

.texto-estadisticas {
  color: rgb(255, 255, 255);
}

.texto-cuadro {
  color: rgb(59, 50, 50);
}

.texto-botones {
  color: aliceblue;
}

* {
  box-sizing:inherit;
}

body {
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.puntero {
  cursor: pointer;
}

.cara-1 {
  justify-content: center;
  align-items: center;
}

.cara-2 {
  justify-content: space-between;
}

.cara-2 .punto:nth-child(2) {
  align-self: flex-end;
}

.cara-3 {
  flex-direction: column;
  justify-content: space-between;
}
.cara-3 .punto:nth-child(2) {
  align-self: center;
}

.cara-3 .punto:nth-child(3) {
  align-self: flex-end;
}

.cara-4 {
  justify-content: space-between;
}

.cara-4 .columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cara-5 {
  justify-content: space-between;
}

.cara-5 .columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cara-5 .medio {
  align-self: center;
}

.cara-6 {
  justify-content: space-between;
}

.cara-6 .columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.punto {
  width: 8px;
  height: 8px;
  background-color: rgb(37, 34, 34);
  border-radius: 50%;
}
